# Lasso & Ridge Regression

Lasso => L1 Regularisation      
Ridge => L2 Regularisation

LASSO: Least Absolute Shrinkage and Selection       
Useful when we are dealing with high dimensional dataset,Useful for Feature Selection,and prevent overfitting     
Lasso regression minimises the objective function that has :        
- OLS( Ordinary Least Square) 
- lambda(Regularisation)


OLS: (y-y')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("datasets/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
df.State = le.fit_transform(df.State)

In [6]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [7]:
x = df.drop(columns=['Profit'])
y = df.Profit

In [8]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
x = pd.DataFrame(scale.fit_transform(x),columns= x.columns)

In [9]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0   1.000000        0.651744         1.000000    1.0
1   0.983359        0.761972         0.940893    0.0
2   0.927985        0.379579         0.864664    0.5
3   0.873136        0.512998         0.812235    1.0
4   0.859438        0.305328         0.776136    0.5

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.3,random_state=0)

In [11]:
from sklearn.linear_model import Lasso,Ridge
lasso = Lasso()
ridge = Ridge()

In [12]:
lasso.fit(x_train,y_train)
ridge.fit(x_train,y_train)

Ridge()

In [13]:
lasso_prediction = lasso.predict(x_test)
ridge_prediction = ridge.predict(x_test)
pd.DataFrame({
    "Actual Profit":y_test,
    "Lasso Prediction":lasso_prediction,
    "Ridge Prediction":ridge_prediction
})

     Actual Profit  Lasso Prediction  Ridge Prediction
84        64926.08      49839.049073      56960.794061
10       146121.95     135165.771875     129325.466882
75        90708.19      77003.422945      85760.954224
2        191050.39     181422.130651     171408.501145
24       108552.04     114157.463045     109640.667991
100      144259.40     134475.007938     127691.871785
107      124266.90     129423.998993     128305.438435
7        155752.60     159400.042068     154084.174411
16       126992.93     116584.540002     117010.872248
86        42559.73      46780.890691      53726.180000
68       101004.64     102661.748011     103118.602495
22       110352.25     115713.518043     119041.465000
45        64926.08      49839.049073      56960.794061
60       111313.02     119085.355571     124269.522138
76        89949.14      89960.374284      89367.846931
52       134307.35     126631.342269     124894.002256
13       134307.35     126631.342269     124894.002256
73        96712.80      91191.797984      99641.117225
85        49490.75      59387.160750      76285.725928
54       129917.04     146660.580997     141009.052998
103      132602.65     148782.979180     143805.282969
8        152211.77     152288.545286     149239.396682
26       105733.54     110404.725141     108726.708949
93       166187.94     171494.428865     161433.895758
33        96778.92      98918.289321     101123.014184
3        182901.99     174019.450871     166730.310370
66       105008.31     116755.199158     123259.221204
48        35673.41      51437.613355      53231.977488
30        99937.59      99410.510083      96652.786812
6        156122.51     155085.831694     141151.547411
78        81005.76      84058.729424      86069.925485
89       192261.83     192771.552581     186003.427188
90       191792.06     187385.011842     180052.076287

# Evaluating Models

# R2 Score

In [14]:
from sklearn.metrics import r2_score
print(r2_score(y_test,lasso_prediction))
print(r2_score(y_test,ridge_prediction))

0.9548066330898262
0.9274943619225687

# MSE (Mean Squared Error)

In [17]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,lasso_prediction))
print(mean_squared_error(y_test,ridge_prediction))

78170673.24121559
125412531.3027029

# RMSE (Root Mean Squared Error)

In [16]:
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y_test,lasso_prediction)))
print(np.sqrt(mean_squared_error(y_test,ridge_prediction)))

8841.418056014294
11198.77365173093